@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1F1F2E;
    --secondary-color: #2A2A40;
    --highlight-color: #FF6D00;
    --text-color: #EAEAEA;
    --background-color: #0D0D16;
    --accent-color: #8F00FF;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  h1, h2, h3 {
    margin: 0;
    color: var(--text-color);
  }
  
  .section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--highlight-color);
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  