.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height : 60px;
  padding: 1rem 2rem;
  background-color: transparent; /* Transparent navbar */
  top: 0;
  z-index: 1000;
  
}

.navLeft, .navCenter, .navRight {
  
  justify-content: center;
  align-items: center;
}

.navLeft {
  justify-content: flex-start;
  margin-top: 35px;
}

.navRight {
  justify-content: flex-start;
  margin-top: 35px;
}

.navCenter {
  justify-content: center;
  flex-grow: 1;
  flex:2;
}


.navGif {
  height: 70px;
  margin-right: 1rem; /* Adjust as needed */
}

.logo {
  margin-top: 40px;
  height: 130px;
  width: auto;
}

.navButton {
  background-color: transparent;
  color: var(--text-color);
  padding: 0.5rem 2.5rem; /* Adjust padding for a curved, pill shape */
  margin: 0 0.5rem;
  border-radius: 30px; /* Rounded corners for the button box */
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  border: 2px solid;
  border-color: var(--highlight-color); /* Ensure the border has the correct color */
  border-image: none; /* Remove gradient if not needed */
}

.navButton:hover {
  background-color: var(--highlight-color);
  color: var(--background-color);
  border-color: var(--highlight-color);
}

.navButtonPrimary {
  background-color: var(--highlight-color);
  color: var(--background-color);
  border: 2px solid;
  border-color: var(--highlight-color); /* Ensure the border has the correct color */
  padding: 0.5rem 2.5rem; /* Adjust padding for a curved, pill shape */
  margin: 0 0.5rem;
  border-radius: 30px; /* Rounded corners for the button box */
}

.navButtonPrimary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
